 <div class="row">
          <div class="col-lg-12">
     
<h1>Proyectos <small>Creación de Proyectos</small></h1>

  <ol class="breadcrumb">
              <li><a href="#/Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
              <li class="active"><i class="fa fa-table"></i> Creación de Proyecto</li>
  </ol>
  
  </div>
        </div><!-- /.row -->
<div  class="row-fluid">
	<div class="col-lg-12">
	 <form name="form" class="form-horizontal"  novalidate>
  <div  ng-class="{'form-group has-error': submitted  && form.nombre.$error.required,'form-group ': !(submitted  && form.nombre.$error.required)}">
    <label class="col-lg-2 control-label"  for="nombre" >Nombre del Proyecto</label>
    <div class="col-lg-6">
    <input  type="text" name="nombre" class="form-control" ng-model="proyecto.nombre" placeholder="Nombre del Proyecto" required>
   <span  class="control-label" ng-show="submitted && form.nombre.$error.required">Debe Ingresar el Nombre al Proyecto <span class="fa fa-exclamation-triangle"></span></span>
   </div>
  </div>


  <div  ng-class="{'form-group has-error': submitted  && form.fechaSolicitud.$error.required,'form-group ': !(submitted  && form.fechaSolicitud.$error.required)}">
    <label class="col-lg-2 control-label"  for="fechaSolicitud" >Fecha Solicitud</label>
    <div class="col-lg-3">
    <input  type="date" name="fechaSolicitud" class="form-control" ng-model="proyecto.fechaSolicitud" placeholder="" required>
   <span ng-show="submitted && form.fechaSolicitud.$error.required" class="control-label">Debe Ingresar Fecha de Solicitud <span class="fa fa-exclamation-triangle"></span>
   </div>
   <label class="col-lg-2 control-label"  for="fechaTermino" >Fecha Estimada Termino</label>
    <div class="col-lg-3">
    <input  type="date" name="fechaTermino" class="form-control" ng-model="proyecto.fechaTermino" placeholder="" required>
   <span class="control-label" ng-show="submitted && form.fechaTermino.$error.required">Debe Ingresar Fecha de Termino  <span class="fa fa-exclamation-triangle"></span>
   </div>
  </div>

 <div class="form-group">
    <label class="col-lg-2 control-label"  for="nombreSolicitante" >Nombre del Solicitante</label>
    <div  ng-class="{'col-lg-3 has-error': submitted  && form.nombreSolicitante.$error.required,'col-lg-3 ': !(submitted  && form.nombreSolicitante.$error.required)}">
    <input  type="text" name="nombreSolicitante" class="form-control" ng-model="proyecto.nombreSolicitante" placeholder="Nombre del Solicitante" required>
   <span class="control-label" ng-show="submitted && form.nombreSolicitante.$error.required">Debe Ingresar quien solicito el proyecto <span class="fa fa-exclamation-triangle"></span>
   </div>
   <label class="col-lg-2 control-label"  for="financiadoPor" >Financiado por</label>
    <div ng-class="{'col-lg-3 has-error': submitted  && form.financiadoPor.$error.required,'col-lg-3 ': !(submitted  && form.financiadoPor.$error.required)}">
    <input  type="text" name="financiadoPor" class="form-control" ng-model="proyecto.financiadoPor" placeholder="" required>
    <span class="control-label" ng-show="submitted && form.financiadoPor.$error.required">Debe Ingresar quien financia el proyecto <span class="fa fa-exclamation-triangle"></span>
   </div>
  </div>


 <div class="form-group">
    <label class="col-lg-2 control-label"  for="lblAvance" >Empresa</label>
    <div ng-class="{'col-lg-3 has-error': submitted  && form.empresa.$error.required,'col-lg-3 ': !(submitted  && form.empresa.$error.required)}" >
    <select name="empresa" ng-model="proyecto.empresa" required>
    <option ng-repeat="operator in empresa"
            value="{{operator.value}}">
      {{operator.nombre}}
    </option>
</select>
   <span class="control-label" ng-show="submitted && form.empresa.$error.required">Debe seleccionar la empresa  <span class="fa fa-exclamation-triangle"></span></span>
   </div>
   <label class="col-lg-2 control-label"  for="lblAvance" >Area Cliente</label>
    <div class="col-lg-3">
    <input  type="text" name="financiadoPor" class="form-control" ng-model="proyecto.areaCliente" placeholder="" required>
   </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label"  for="tipoProyecto" >Tipo de Proyecto</label>
    <div  ng-class="{'col-lg-8 has-error': submitted  && form.tipoProyecto.$error.required,'col-lg-8 ': !(submitted  && form.tipoProyecto.$error.required)}"> 
   <select  name="tipoProyecto" ng-model="proyecto.tipoProyecto" required>
    <option value="Operacional">
           Operacional
    </option>
    <option value="Estrategico">
           Estrategico
    </option>
    <option value="Innovación">
           Innovación
    </option>
  </select>
   <span class="control-label" ng-show="submitted && form.empresa.$error.required">Debe seleccionar el tipo de proyecto  <span class="fa fa-exclamation-triangle"></span></span>
   </div>
  </div>

    <div class="form-group">
    <label class="col-lg-2 control-label"  for="lblAvance" >Resumen Ejecutivo</label>
    <div class="col-lg-8">
   <textarea ng-model="proyecto.resumenEjecutivo" class="form-control" rows="6"></textarea>
   </div>
  </div>


    <div class="form-group">
    <label class="col-lg-2 control-label"  for="costoOneOff" >Costos One Off</label>
    <div   ng-class="{'col-lg-2 has-error': submitted  && form.costoOneOff.$error.required,'col-lg-2 ': !(submitted  && form.costoOneOff.$error.required)}">
       <input  type="number" name="costoOneOff" class="form-control" ng-model="proyecto.costoOneOff" placeholder="" required>
 <span class="control-label" ng-show="submitted && form.costoOneOff.$error.required">Debe incorporar el costo One Off <span class="fa fa-exclamation-triangle"></span></span>
 <span class="control-label" ng-show="submitted && form.costoOneOff.$error.number">Debe Incorporar un valor númerico <span class="fa fa-exclamation-triangle"></span></span>
   </div>
   <label class="col-lg-2 control-label"  for="costoOnGoing" >Costos One Going</label>
    <div ng-class="{'col-lg-2 has-error': submitted  && form.costoOnGoing.$error.required,'col-lg-2 ': !(submitted  && form.costoOnGoing.$error.required)}">
       <input  type="number" name="costoOnGoing" class="form-control" ng-model="proyecto.costoOnGoing" placeholder="" required>
 <span class="control-label" ng-show="submitted && form.costoOnGoing.$error.required">Debe incorporar el Costos One Going <span class="fa fa-exclamation-triangle"></span></span>
   </div>
   <label class="col-lg-1 control-label"  for="beneficios" >Beneficios</label>
    <div ng-class="{'col-lg-2 has-error': submitted  && form.beneficios.$error.required,'col-lg-2 ': !(submitted  && form.beneficios.$error.required)}">
       <input  type="number" name="beneficios" class="form-control" ng-model="proyecto.beneficios" placeholder="" required>
<span class="control-label" ng-show="submitted && form.beneficios.$error.required">Debe incorporar los beneficios <span class="fa fa-exclamation-triangle"></span></span>
   </div>
  </div>

<div> </div>

 <button type="submit" class="btn btn-primary btn-large" ng-click="submitted=true">Crear Proyecto</button>

</form>


</div>  
</div> <!-- ROW -->

