<div class="row">
          <div class="col-lg-12">
            <h1>DashBoard<small> Panel Proyectos</small></h1>

  <ol class="breadcrumb">
              <li><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
   </ol>
  </div>
        </div><!-- /.row -->



     <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Panel success</h3>
              </div>
              <div class="panel-body">
               
<table> 
<thead>
	<th>
	 s
	</th>
	<th> jjj</th>
</thead>
<tbody>
	<tr>
		<td> q</td<td>4</td>
	</tr>
</tbody>
</table> 



              </div>
      </div>