<div id="wrapper">
  <checkUser></checkUser>
    <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Gestion de Proyectos KCC</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
  <!-- Menu Izquierda  -->
<menu menus=''></menu>
          <cabecera></cabecera>
        </div><!-- /.navbar-collapse -->
      </nav>



<div class="row"> 
   
 <div class="col-lg-6">  
 <div class ="row">

   <div class="col-lg-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-check-square fa-2x"></i>
                  </div>
                  <div class="col-lg-3 text-right">
                    <p class="announcement-heading">{{pSanos}}</p>
                  </div>
                </div>
                  <div class="row">
                      <div class="col-lg-12 text-right">
                     <p class="announcement-text">Proyectos Sanos</p>
                      </div>
                 </div>

              </div>
          </div>
          </div>
     
   <div class="col-lg-4">
            <div class="panel  panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa fa-wheelchair fa-2x"></i>
                  </div>
                  <div class="col-lg-3 text-right">
                    <p class="announcement-heading">{{pAlerta}}</p>
                 </div> 
                </div>
                  <div class="row">
                      <div class="col-lg-12 text-right">
                     <p class="announcement-text">Proyectos Alerta</p>
                       </div>
                  </div>

              </div>
          </div>
          </div>


<div class="col-lg-4">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-exclamation-triangle fa-2x"></i>
                  </div>
                  <div class="col-lg-3 text-right">
                    <p class="announcement-heading">{{pCriticos}}</p>
                  </div>
                </div>
                 <div class="row">
                      <div class="col-lg-12 text-right">
                     <p class="announcement-text">Proyectos Criticos</p>
                     </div>
                  </div>

              </div>           
           </div>
</div>


   </div><!-- ROW -->

 <!-- FIN ROW -->



 </div><!--  FIN COL-8 -->



   



   </div><!-- ROW -->
<div class="row">
    <div class="col-lg-12">
<div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"  align="center">Listado de Proyectos</h3>
              </div>
              <div class="panel-body">
   

    <table id="tblMisproyectos" class="table table-bordered table-hover" data-data-table="" data="arrProyectos">
    <thead>
<th colspan="2" ng-click="changeSorting('nombreProyecto')">Nombre Proyecto </th>
<th ng-click="changeSorting('beneficios')">Beneficios</th>
<th ng-click="changeSorting('costoOneOff')">Cost One Off</th>
<th ng-click="changeSorting('costoOnGoing')">Cost OnGoing</th>
<th ng-click="changeSorting('desviacionPresupuesto')">Desv.$</th>
<th ng-click="changeSorting('desviacionTiempo')">Desv. Tiempo</th>
<th ng-click="changeSorting('desviacionAlcance')">Desv. Alcance</th>
<th ng-click="changeSorting('estrategiaProyecto')">Tipo</th>
<th ng-click="changeSorting('saludProyecto')">Salud</th>
</thead>
<tbody>
<tr ng-repeat="row in arrProyectos | orderBy:sortListadoBP.column:sortListadoBP.descending ">
  
  <td colspan="2" ><a  href="#/proyecto/{{ row.idProyecto }}">{{row.nombreProyecto}}</a></td>
  <td>{{row.beneficios}}</td>
  <td>{{row.costoOneoff}}</td>
  <td>{{row.costoOneGoing}}</td>
  <td>{{row.desviacionPresupuesto}}%</td>
  <td>{{row.desviacionTiempo}}%</td>
  <td>{{row.desviacionAlcance}}%</td>
  <td>{{row.estrategiaProyecto}}</td>
<td><span ng-class='{"label label-warning":row.saludProyecto=="En alerta","label label-success":row.saludProyecto=="Saludable","label label-danger":row.saludProyecto=="Critico"}'>{{row.saludProyecto}}</span></td>
 </tr>
</tbody>
    </table> 
</div>               </div>
            </div>
  </div>
   <div class="row"> 

 <div class="col-lg-12">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title" align="center">Planificacion proximos 4 meses</h3>
              </div>
              <div class="panel-body">
              <div class="row">  
                <div class="col-lg-3"></div>
                
                <div ng-repeat="mes in meses" align="center" class="col-lg-2" ><b>{{mes}}</b></div>
            
              </div>

    <div class="row" ng-repeat="row in arrProgramacion">
    <div class="col-lg-4">
     {{row.nombreProyecto}}
    </div>
            <div class=" col-lg-8 progress">
               <div ng-repeat="mes in meses">
               <span   ng-show="mes == row.mes1"  ng-class='{"progress-bar progress-bar-default":row.estadoMes1=="Iniciativa","progress-bar progress-bar-info":row.estadoMes1=="Pre-Evaluacion","progress-bar progress-bar-success":row.estadoMes1=="Evaluacion", "progress-bar progress-bar-warning":row.estadoMes1=="Ejecucion","progress-bar progress-bar-danger":row.estadoMes1=="En produccion"}'  style="width: 25%">{{row.estadoMes1}}</span>
              
               <span   ng-show="mes == row.mes2"  ng-class='{"progress-bar progress-bar-default":row.estadoMes2=="Iniciativa","progress-bar progress-bar-info":row.estadoMes2=="Pre-Evaluacion","progress-bar progress-bar-success":row.estadoMes2=="Evaluacion", "progress-bar progress-bar-warning":row.estadoMes2=="Ejecucion","progress-bar progress-bar-danger":row.estadoMes2=="En produccion"}'  style="width: 25%">{{row.estadoMes2}}</span>
              
               <span   ng-show="mes == row.mes3"  ng-class='{"progress-bar progress-bar-default":row.estadoMes3=="Iniciativa","progress-bar progress-bar-info":row.estadoMes3=="Pre-Evaluacion","progress-bar progress-bar-success":row.estadoMes3=="Evaluacion", "progress-bar progress-bar-warning":row.estadoMes3=="Ejecucion","progress-bar progress-bar-danger":row.estadoMes3=="En produccion"}'  style="width: 25%">{{row.estadoMes3}}</span>
              
               <span   ng-show="mes == row.mes4"  ng-class='{"progress-bar progress-bar-default":row.estadoMes4=="Iniciativa","progress-bar progress-bar-info":row.estadoMes4=="Pre-Evaluacion","progress-bar progress-bar-success":row.estadoMes4=="Evaluacion", "progress-bar progress-bar-warning":row.estadoMes4=="Ejecucion","progress-bar progress-bar-danger":row.estadoMes4=="En produccion"}'  style="width: 25%">{{row.estadoMes4}}</span>
              
              </div>
            
              </div>
    </div> <!-- fin row programacion -->

   </div>
 </div>
  </div>
</div>
<div class="row">
<div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"  align="center"><i class="fa fa-money"></i> Estatus por tipo de Proyecto</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped tablesorter" data="estados">
                    <thead>
                      <tr>
                        <th class="header"></th>
                        <th class="header">Act.</th>
                        <th class="header">Can.</th>
                        <th class="header">Post.</th>
                        <th class="header">Ter.</th>
                     
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="p in porTipo">
                        <td ><b>{{ p.etapa }}</b></td>
                        <td>{{ p.Activo }}</td>
                        <td>{{ p.Cancelado }}</td>
                        <td>{{ p.Postergado }}</td>
                        <td>{{ p.Terminado }}</td>

                      </tr>

                    </tbody>
                  </table>
                </div>  
              </div>
            </div>
 </div>



<div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Auditoria de Proyectos</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                      <tr>
                        <th class="header">Proceso Interno</th>
                        <th class="header">AP</th>
                        <th class="header">RM</th>
                        <th class="header">Prom. Eq.</th>
                     
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td ><b>Auditoria</b></td>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                     
                      </tr>
                      <tr>
                        <td ><b>Tiempo Pre Eval</b></td>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                     
                      </tr>
                     <tr>
                        <td ><b>Tiempo Eval</b></td>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>      
                      </tr>

                       <tr>
                        <td ><b>Cab</b></td>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td> 
                      </tr>
                     </tbody>
                  </table>
                </div>  
              </div>
            </div>
 </div>



    </div>  <!-- Fin Row --> 
</div>


