<div>
{{message}}
    <table cellspacing="0" id="tech-companies" data-data-table="" data="arrProyectos">
    <thead>
<th>uno</th>
<th>dos </th>
<th>tres</th>
</thead>
<tbody>
<tr ng-repeat="row in arrProyectos">
<td>{{row.ID}} </td>
<td>{{row.nombreProyecto}}</td>
<td>{{row.tipoProyecto}}</td>
<td>{{row.Empresa}}</td>
<td>{{row.fechaTermino}}</td>
<td>{{row.costoOneOff}}</td>
<td>{{row.costosOneGoing}}</td>
<td>{{row.saludProyecto}}</td>
<td>{{row.statusProyecto}}</td>
	</tr>
</tbody>
    </table> 

</div> 