
<div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Gestion de Proyectos KCC</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
  <!-- Menu Izquierda  -->
<menu menus=''></menu>
          <cabecera></cabecera>
        </div><!-- /.navbar-collapse -->
      </nav>





<!--
    <div class="ng-pageslide" style="transition: width 0.5s, height; -webkit-transition: width 0.5s, height; z-index: 1000; position: fixed; width: 500px; height: 100%; top: 0px; bottom: 0px; right: 0px;">

        <a id="target-close" href="#">Click to close</a>
    </div>
-->
 <div class="row">
          <div class="col-lg-12">
            <h1>Mis Proyectos <small>Proyectos en ejecución</small></h1>

  <ol class="breadcrumb">
              <li><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
              <li class="active"><i class="fa fa-table"></i> Mis Proyectos</li>
            </ol>
  </div>
        </div><!-- /.row -->

 <div class="row">
          <div class="col-lg-12">

    <table id="tblMisproyectos" class="table table-bordered table-hover table-striped tablesorter" data-data-table="" data="arrProyectos">
    <thead>
<th ng-click="changeSorting('idProyecto')"># </th>
<th ng-click="changeSorting('nombreProyecto')">Nombre Proyecto </th>
<th ng-click="changeSorting('nombreEmpresa')">Empresa </th>
<th ng-click="changeSorting('fechaTermino')">Fecha Termino</th>
<th ng-click="changeSorting('costoOneoff')">One Off </th>
<th ng-click="changeSorting('costoOneGoing')">OnGoing </th>
<th ng-click="changeSorting('etapaProyecto')">Etapa del Proyecto </th>
<th ng-click="changeSorting('saludProyecto')">Salud Proyecto </th>
<th ng-click="changeSorting('statusProyecto')">Status</th>
<th>Controles</th>
</thead>
<tbody>
<tr ng-repeat="row in arrProyectos| orderBy:sortListado.column:sortListado.descending ">
<td>{{row.idProyecto}} </td>
<td><a  href="#/proyecto/{{ row.idProyecto }}">{{row.nombreProyecto}}</a></td>
<td>{{row.nombreEmpresa}}</td>
<td>{{row.fechaTermino}}</td>
<td>{{row.costoOneoff}}</td>
<td>{{row.costoOneGoing}}</td>
    <td>{{row.etapaProyecto}}</td>
<td ><span ng-class='{"label label-warning":row.saludProyecto=="En alerta","label label-success":row.saludProyecto=="Saludable","label label-danger":row.saludProyecto=="Critico"}'>{{row.saludProyecto}}</span></td>
<td>{{row.statusProyecto}}</td>
<td> <i  class="fa fa-paperclip  fa-lg" ng-click="openDialog(row.idProyecto,'adjuntos')"> &nbsp</i><i ng-click="openDialog(row.idProyecto,'status')"class="fa fa-pencil-square-o fa-lg">&nbsp</i> <i class="fa fa-calendar" ng-click="openDialog(row.idProyecto,'programacion')" ></i></td>
	</tr>
</tbody>
    </table> 
</div> 
</div>

</div>
