<div class="modal-dialog" id="modalActualizarEstado">
  <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">% Avance</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputEmail3" placeholder="% Avance">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Comentarios</label>
    <div class="col-sm-6">
      <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Etapa del Proyecto</label>
    <div class="col-sm-6">
      <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Desviacion (%) $</label>
    <div class="col-sm-6"
       <input type="text" class="form-control" id="inputEmail3" placeholder="% Avance">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Desviacion (%) Tiempo</label>
    <div class="col-sm-6">
       <input type="text" class="form-control" id="inputEmail3" placeholder="% Avance">
    </div>
  </div>

</form>


    <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div><!-- /.modal-dialog -->
