
.app-modal-window .modal-dialog {
width: 500px;
}

<div class="modal-dialog" id="modalProgramacion">
<h2>Programacion Actividades</h2>
    <form  class="form-horizontal" role="form">


          <div >
<table id="tblProgramacion" class="table table-condensed" data-data-table="" data="arrProgramacion">
<thead >
	<th>Linea Base</th>
	<th ng-repeat="mes in meses">{{mes}} </th>
</thead>
<tbody>
<tr ng-repeat="row in arrProgramacion" >
<td>{{row.fechacreacion}} </td>

<td ng-repeat="mes in meses" >
<span ng-show="mes == row.mes1" > {{row.estadoMes1}}  </span>
<span ng-show="mes == row.mes2" > {{row.estadoMes2}}  </span>
<span ng-show="mes == row.mes3" > {{row.estadoMes3}}  </span>
<span ng-show="mes == row.mes4" > {{row.estadoMes4}}  </span>
</td>

</tr> 
<tr> 
<td></td>
<td> 
<select name= "planificacion.estadoMes1"ng-model="planificacion.estadoMes1">
    <option
            ng-repeat="operator in etapaProyecto"
            value="{{operator.id}}">
      {{operator.nombre}}
    </option>
</select>
</td>
<td> 
<select name= "planificacion.estadoMes2" ng-model="planificacion.estadoMes2">
    <option
            ng-repeat="operator in etapaProyecto"
            value="{{operator.id}}">
      {{operator.nombre}}
    </option>
</select>
</td>
<td> 
<select name= "planificacion.estadoMes3" ng-model="planificacion.estadoMes3">
    <option
            ng-repeat="operator in etapaProyecto"
            value="{{operator.id}}">
      {{operator.nombre}}
    </option>
</select>
</td>
<td> 
<select name= "planificacion.estadoMes4" ng-model="planificacion.estadoMes4">
    <option
            ng-repeat="operator in etapaProyecto"
            value="{{operator.id}}">
      {{operator.nombre}}
    </option>
</select>
</td> 
</tr>
</tbody>

</table> 



<!-- aca -->
 <div class="modal-footer">
            <button class="btn btn-primary" ng-click="crearPlanificacion()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
          </div>
        </form>
</div>